<!DOCTYPE html>
<html lang="es_ES">
    <%- include('./partes/header'); %>
    <%- include('./partes/menu'); %>
    <body>
    <p>Bienvenido/a <%= usernameExiste.nombre %></p>
  </body>
  <footer>
      <%- include('./partes/footer'); %>
  </footer>
</html>
