<!DOCTYPE html>
<html lang="es_ES">
    <%- include('../partes/header'); %>
    <%- include('../partes/menu'); %>
    <body>
        <div class="row text-center justify-content-center">

              <!-- Si pasa las pruebas se muestran los datos -->
          <% if(!err) { %>            
            <div class="col-9">
              <h4>Bienvenido</h4> 
            </div>

            <% }else{ %>
            <!-- Sino le muestra un error -->
            <div class="d-grid gap-2 col-6 mx-auto">
              <h2><%= err %></h2>
              <button class="btn btn-primary" type="button">Intentar nuevamente</button>
            </div>
              <% } %>            
          </div>

    </body>
    <footer>
        <%- include('../partes/footer'); %>
    </footer>
</html>